.Header{
  background-color: #ffffff !important;
  border-bottom: 2px solid grey;
  width: 100%;
  height: 6em;
}
.Logo-img{
  animation: none;
  width: 15%;
  display: block;
  margin: 0 auto;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-weight: bold;
}

.menu li {
  display: inline-block;
  padding-right: 10px;
}

.User{
  color: black;
  /*float: right;*/
  font-size: 12px;
  display: block;
  margin-top: -7%;
}

.Login-btn{
  background-color: white;
  color: grey;
  border: 1px solid grey;
}

.ShopCart{
  width: 5%;
  height: auto;
  float: right;
  margin-top: -5.5%;
}

.UserImg{
  border-radius: 250px;
  margin-top: 1%;
}

.Logout-btn{
  border: 1px solid grey;
  background-color: white;
  padding: 0.3%;
  border-radius: 2px;
}