.Header{
  background-color: #ffffff !important;
  border-bottom: 1px solid grey;
}
.Logo-img{
  animation: none;
  float: left;
  width: 10em;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-weight: bold;
}

.menu li {
  display: inline-block;
  padding-right: 10px;
}

.User{
  color: black;
  /*float: right;*/
  font-size: 10px;
  display: block;
}

.Login-btn{
  background-color: white;
  color: grey;
  border: 1px solid grey;
}
