.Header{
  background-color: #ffffff !important;
  border-bottom: 1px solid grey;
}
.Logo-img{
  animation: none;
  float: left;
  width: 10em;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
  display: inline-block;
  padding-right: 10px;
}
.User{
  color: black;
}
.Login-btn{
  background-color: white;
  color: grey;
  border: 1px solid grey;
}
