.product {
  display: inline-block;
  width: 20em;
}
.titleProduct{
  font-size: 0.8em;
  text-align: center;
}
.imgProduct{
  text-align: center;
}

.PicturesContainer{
  text-align: center;
  margin-top: 2%;
}

form{
  text-align: center;
  margin-top: 2%;
}

.Search{
  text-align: center;
}
